@font-face {
    font-family: "Bebas";
    src: local("Bebas"), url(~assets/fonts/Bebas.ttf) format("truetype");
}
$maxwidth: 1440px;
$black: black;
$white: white;
$red: rgba(255, 100, 100);
$modalsZIndex: 1000;
$noteL: 1440px;
$note:1024px;
$tablet:768px;
$startmobile: 520px;
$mobile: 425px;
$endmobile:360px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    &::selection {
        background-color: rgba(122, 122, 122, 0.3);
    }
}
html {
    min-height: 100vh;
    min-width: 360px;
    & {
        ::-webkit-scrollbar {
            width: 0;
        }
        /*Убрать полосу прокрутки для всей страницы*/
        ::-webkit-scrollbar {
            width: 0;
        }
    }

    body,
    #__nuxt,
    #__layout,
    .layout {
        width:100%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .page {
            flex-grow: 1;
            width: 100%;
            max-width: $maxwidth;
            height: 100%;
            color: $black;
            padding: 20px 0px;
            @media screen and (max-width: calc($maxwidth + 2px)) {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
        }
        button,
        input[type="submit"] {
            cursor: pointer;
            outline: none;
        }
        .bebas {
            font-family: "Bebas" !important;
        }
        .link {
            text-decoration: none;
            color: inherit;
        }
        .centered {
            width: 100%;
            text-align: center;
        }
        .righted {
            text-align: right;
        }
        .lefted {
            text-align: left;
        }
        .unselectable,
        .unselectable * {
            &::selection {
                background-color: transparent;
            }
        }
        .volume {
            text-shadow: 0 1px 0 rgba(204, 204, 204, 0.150), 0 2px 0 hsla(0, 0%, 79%, 0.150), 0 3px 0 rgba(187, 187, 187, 0.150), 0 4px 0 hsla(0, 0%, 73%, 0.150), 0 5px 0 hsla(0, 0%, 67%, 0.150),
                0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
                0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
                0 20px 20px rgba(0, 0, 0, 0.15);
        }
    }
}
.html_overflow{
    overflow: hidden;
}
.pushable-button {
    
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid rgba(black, 0.2);
    border-bottom-width: 3px;
    background-color: transparent;
    transition: 0.1s;
    z-index: 1;
    &:active {
      border: 1px solid rgba(black, 0.2);
      transform: scale(0.96);
    }
  }