.oage{
&-enter,
&-leave-to {
    opacity: 0;
}

&-enter-active {
    transition: ease 0.2s;
}
&-leave-active {
    transition: ease 0.2s;
}
&-move {
    position: absolute;
}
}

.modal-enter {
    opacity: 0;
}
.modal-leave-to {
    opacity: 0;
    .content {
        transform: scale(0.7);
    }
}
.modal{
    &-enter-active, & .content{
        transition: all 0.5s;
    }
    &-enter-active .content{
        animation: appear_modal 0.4s forwards;

    @keyframes appear_modal {
        0%{
            transform: scale(0);
        }
        50%{
            transform: scale(1.02);
        }
        75%{
            transform: scale(0.99);
        }
        100%{
            transform: scale(1);
        }
    }
}
    &-leave-active, & .content{
        transition: all 0.3s;
    }
}
