$maxwidth: 1440px;
$black: black;
$white: white;
$selection_color: orange;
$red: rgba(255, 100, 100);
$modalsZIndex: 1000;
$noteL: 1440px;
$note:1024px;
$tablet:768px;
$startmobile: 520px;
$mobile: 425px;
$endmobile:360px;
$modals_z: 100;
$footer_height: 60px;